* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.row{
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.row2{
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	background-color: ghostwhite;
	border-radius: 10px;
	padding: 0 10px;
}
header {
	background-color: #FA8258;
}
a:hover {
	color: black;

}
a {
	text-decoration: none;
	color: black;
	font-size: 20px;

}
p {
	margin: 10px 0 10px 0;
}
.title h3 {
	font-size: 32px;
	text-decoration: underline;
	color: rgba(245,40,50,1);
}
.col-2 {
	flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-2 img{
    height: 65px;
	padding-right: 50px;
}
.col2 {
	flex: 0 0 50%;
    max-width: 50%;	
}
.menu2 ul li {

	float: left;
	margin-left: 20px;
	list-style: none;
	margin-top: 10px;
}
.menu2 {
	display: flex;
	/* 	 */
	align-items: center;
}
.menu2 a{
	color: white;
}
.col-3 {
	flex: 0 0 25%;
    max-width: 25%;
}
.col-8 {
	flex: 0 0 25%;
    max-width: 25%;
}
.col-2th {
	flex: 0 0 25%;
    max-width: 25%;
	height: 300px;
}
.col-12 {
	flex: 0 0 100%;
    max-width: 100%;
}
.menu ul li {

	float: left;
	margin-left: 20px;
	list-style: none;
	margin-top: 10px;
}
.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu a{
	color: white;
}
ul.menu_child {
	position: absolute;
	width: 225px;
	background-color: #FA8258;
	z-index: 9999;

}
ul.menu_child li {
	padding: 15px 0 0 0 ;
	float: none;
	display: none;
}
.menu ul li:hover ul.menu_child li {
	display: block;
}

/*Slider*/
.mySlides {
	display: none;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: unset;
}
.mySlides img {
	vertical-align: middle;
	height: 400px;
}
.prev , .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bolder;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
  
/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
	background-color: #717171;
}
  
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
  
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}
/*end slider*/
.slider-margin {
	  margin: 20px auto;
}
.image img{
	  width: 100%;
	  height: 200px;
	  border-radius: 5px;
}
.card {
	  border: 3px ridge;
	  border-radius: 10px;
	  margin: 5px 15px 0 0;
}
.name{
	padding-left: 10px;
}
.price{
	padding-left: 10px;
}
footer {
	display: block;
	background-color:#4cb1ca;
	padding: 20px 0 10px 0;
}
ul.menu_footer li {
	font-size: 10px;
	list-style: none;
}
.footer {
	padding-bottom: 20px;
}
.footer h3 {
	color: white;
}
.copy_right {
	padding: 10px 0 0px 0;
	text-align: center;
	border-top: 1px solid #fff;
}
.sticky-top {
	position: sticky;
	top: 0;
	z-index: 1;
}