* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
    display: flex;
    margin: 25px;
}
.wran{
    width: 65%;
}
.supperwran{
    width: 35%;
    line-height: 1.5em;
    font-size: 20px;
    margin-top: 75px;
}
.span_2_of_3{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.etalage_thumb_image{
    vertical-align: bottom;
    max-width: 100%;
}
.etalage{
    list-style: none;
}
.desc1_span_3_of_2{
    max-width: 50%;
    padding-left: 30px;
    font-size: 20px;  
}
.m_text2{
    line-height: 1.6em;
    margin-top: 20px;
}
.flexiselDemo3 ul{
    position: relative;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.scroll-pane{
    vertical-align: baseline;
    list-style: none;
}
.breadcrumb{
    margin-top: 25px;
    font-size: 25px;
}
.m_1{
    font-size: 22px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: rgb(221, 218, 200);
}
.m_5{
    padding-top: 20px;
}
.dropdown{
    font-size: 22px;
    margin-bottom: 10px;
}
.title{
    padding-top: 20px;
}
.title form input[type="submit"]{
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 1em;
    padding: 10px 34px;
    background: #bd3c1c;
    color: #FFF;
    text-transform: uppercase;
}
.giaca{
    border: 1px solid black;
    background-color: rgb(221, 218, 200);
}
.supper-col-one{
    display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
	background-color: ghostwhite;
	border-radius: 10px;
	padding: 10px;
    justify-content: space-between;
}

h3{
    font-size: 30px;
	color: rgb(10, 42, 221);
    padding-bottom: 20px;
}

.bang-ykien{
    padding-top: 15px;
    padding-left: 45px;
    padding-bottom: 50px;
}
.hat3{
    padding-left: 20px;
}
.suynghivethucung{
    border: 1px solid rgb(231, 173, 14);
    margin: 45px;
    border-radius: 20px;
    font-size: 1.35em;
    padding: 20px;
}