img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
#logo .site-title,
#logo .description {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
body { background: #f2f2f2; }
		
.content a:not(.cp-fixed-color):not(.selectBox) { color: #f4481d; }
#easyTooltip { background: #f4481d; }
.tags span { background: #f4481d; }
span.colour { color: #f4481d; }
.tags span:before { border-color: transparent #f4481d transparent transparent; }

.header_top { background: #f2f2f2;  }

.header_top .header_top_res p a { color: #f4481d; }

.header_top .header_top_res p { color: #000000;  }

.header_main, .header_main_bg { background: #ffffff; }

.header_menu, .footer_menu { background: #f4481d; }
ol.progtrckr li.progtrckr-done, ol.progtrckr li.progtrckr-todo { border-bottom-color: #f4481d; }

.btn_orange, .pages a, .pages span, .btn-topsearch, .tab-dashboard ul.tabnavig li a, .tab-dashboard ul.tabnavig li a.selected, .reports_form input[type="submit"] { color: #ffffff; }

.btn_orange, .pages a, .pages span, .btn-topsearch,	.reports_form input[type="submit"] { background: #0a0000; }
.tab-dashboard ul.tabnavig li a.selected { border-bottom: 1px solid #0a0000;background: #0a0000; }
.tab-dashboard ul.tabnavig li a { background:  rgba(10, 0, 0, 0.6) ; }
ol.progtrckr li.progtrckr-done:before { background: #0a0000; }

.footer { background: #fbaf5d; }

.footer_main_res div.column { color: #5671a9; }

.footer_main_res div.column h1, .footer_main_res div.column h2, .footer_main_res div.column h3 { color: #ffffff; }

.footer_main_res div.column a, .footer_main_res div.column ul li a { color: #5671a9; }

